/* 背景图 */
.a_background{
	width: 100%;
	height: 100%;
	position: absolute;
}

.a_background_top{
	width: 100%;
	height: 71.6%;
	background-image:url("http://img.mukewang.com/55addf6900019d8f14410645.png");
	background-size:100% 100%;  
}

.a_background_middle{
	width: 100%;
	height: 13.1%;
	background-image:url("http://img.mukewang.com/55addf800001ff2e14410118.png");
	background-size:100% 100%;
	 
}

.a_background_bottom{
	width: 100%;
	height: 15.3%;
	background-image: url("http://img.mukewang.com/55addfcb000189b314410138.png");
	background-size: 100% 100%;
}

/* 云朵及其动画 */
.cloud{
	height: 90%;
	width: 90%;
	position: absolute;
}
.cloud1{
	left:-5%;
	top:0%;
	background: url("../images/cloud1.png") no-repeat;
	animation:cloud1 30s infinite; 
	-moz-animation:cloud1 30s infinite;
	-webkit-animation:cloud1 30s infinite;
}
.cloud2{
	left:80%;
	top:10%;
    background: url("../images/cloud2.png") no-repeat;
	animation:cloud2 30s infinite; 
	-moz-animation:cloud2 30s infinite;
	-webkit-animation:cloud2 30s infinite;
}
@-moz-keyframes cloud1{
	0% { left: -5%; }
	100% { left: 100%; }
}
@-webkit-keyframes cloud1{
	0% { left: -5%; }
	100% { left: 100%; }
}
@-moz-keyframes cloud2{
	0% { left: 80%; }
	100% { left: 10%; }
}
@-webkit-keyframes cloud2{
	0% { left: 80%; }
	100% { left: 10%; }
}

/* 太阳及其动画 */
.sun{
	height: 80%;
	width: 80%;
	position: absolute;
	background: url("../images/sun.png") no-repeat;
	animation: rotation 30s;
	-moz-animation:rotation 30s;
	-webkit-animation:rotation 30s;
}

@-moz-keyframes rotation{
	0% { left: 50%; top: -5%}
	100% { left: -100%; top:20%;}
}

@-webkit-keyframes rotation{
	0% { left: 50%; top:-5%; }
	100% { left: -100%; top:20%;}
}

