/* 背景图 */
.b_background{
	width: 100%;
	height: 100%;
	position: absolute;
}

.b_background_dark{
	width: 100%;
	height: 100%;
	background-image:url("../images/QixiB-dark.png");
	background-size:100% 100%;  
}

.b_background_bright{
	width: 100%;
	height: 100%;
	background-image: url("../images/QixiB-bright.png");
	background-size:100% 100%;
}

/* 灯亮处理 */
.hide{
	display: none;
}

/* 门的布局 */
.door{
	position: absolute;
    width: 13.5%;
    height: 24%;
    top: 48%;
    left: 52%;
    overflow: hidden;
}
.door-left,.door-right{
	height: 100%;
	width: 100%;
	position: absolute;
}

.door-left{
	left: 0%;
	background: url("../images/door-left.png") no-repeat;	
}
.door-right{
	left: 50%;
	background: url("../images/door-right.png") no-repeat;
}
